h1 {
  color:rgb(217, 201, 231);
  font-family: sans-serif;
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
  color: rgb(150, 221, 150);
}

*{
  background-color: black;
}

footer {
  color:cyan;
  text-align: center;
}
