h1 {
  color:lightseagreen;
  font-family: sans-serif;
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
  color: yellow;
}

*{
  background-color: black;
}

footer {
  color: cyan;
  text-align: center;
}