h1 {
  color: blue;
}

#buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

button {
  font-size: inherit;
  border-radius: 2em;
  padding: 0.5em;
}

#lifecycle {
  align-content: center;
}

.hide {
  border-color: rgba(0, 0, 0, 0);
}
