h1 {
  color: rgb(43, 180, 226);
  font-family: sans-serif;
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
  color: rgb(159, 234, 159);
}

* {
  background-color: black;
}

footer {
  color: cyan;
  text-align: center;
}

button {
  background-color: #7c3aed;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2 ease;
  text-align: center;
  margin: auto;
}

button:hover {
  background-color: #6d28d9;
}

h2 {
  text-align: center;
  color: rgb(79, 202, 202);
}
